    /*globales*/
    
    * {
        box-sizing: border-box
    }
    
    body {
        width: 100%;
    }
    
    img {
        width: 100%;
    }
    /*utilidades*/
    
    .contenedor {
        margin: 0 auto;
        max-width: 1000px
    }
    
    .redondiar {
        border-radius: 15px;
    }
    /*header*/
    
    header {
        width: 100vw;
        position: fixed;
        z-index: 3;
        top: 0;
    }
    
    .menu {
        padding-left: 15px;
        padding-right: 15px;
        background: rgba(48, 48, 48, 1);
        background: -moz-linear-gradient(top, rgba(48, 48, 48, 1) 0%, rgba(97, 97, 97, 1) 54%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 48, 48, 1)), color-stop(54%, rgba(97, 97, 97, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(top, rgba(48, 48, 48, 1) 0%, rgba(97, 97, 97, 1) 54%, rgba(255, 255, 255, 0) 100%);
        background: -o-linear-gradient(top, rgba(48, 48, 48, 1) 0%, rgba(97, 97, 97, 1) 54%, rgba(255, 255, 255, 0) 100%);
        background: -ms-linear-gradient(top, rgba(48, 48, 48, 1) 0%, rgba(97, 97, 97, 1) 54%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(48, 48, 48, 1) 0%, rgba(97, 97, 97, 1) 54%, rgba(255, 255, 255, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#ffffff', GradientType=0);
    }
    
    .contenedor-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        padding: 10px 0;
    }
    
    .logo img {
        max-width: 120px;
    }
    
    .elementos_mn {
        margin: 15px 0;
    }
    
    .elementos_mn a {
        text-decoration: none;
        color: #fff;
        padding: 15px 10px;
        font-weight: bold;
    }
    
    .elementos_mn a:hover {
        color: #e01a3a;
    }
    
    .marcado {
        color: #e01a3a!important;
    }
    
    .ico_menu {
        display: none;
        width: 35px;
        cursor: pointer;
        margin: 0 auto;
    }
    
    .ico_menu span {
        display: block;
        width: 100%;
        height: 8px;
        margin-bottom: 3px;
        background-color: #000;
    }
    
    .ico_menu span:last-child {
        margin-bottom: 0;
    }
    
    .ico_menu:hover {
        transform: scale(1.05, 1.05);
        box-shadow: 0 0 15px #fff;
    }
    
    #enlaces-open {
        margin: 0 auto;
    }
    
    #enlaces-open a {
        display: block;
        text-align: center;
        padding: unset;
        margin-bottom: 10px;
    }
    
    #enlaces-open a:first-child {
        margin-top: 10px;
    }
    
    .slider {
        height: 100vh;
        width: 100%;
    }
    
    .elemento_slider {
        background: url(../img/slider-1.jpg) no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    
    .datos_slider {
        padding-top: 40vh;
        position: relative;
        z-index: 2;
    }
    
    .capa_oscurecer {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    
    .datos_slider h1 {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        text-shadow: 7px 7px 5px #000;
    }
    
    .datos_slider p {
        text-align: center;
        font-size: 18px;
        font-style: italic;
        color: #fff;
        margin-bottom: 15px;
    }
    
    .btn {
        background-color: #e01a3a;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 10px;
        border-radius: 15px;
        width: 280px;
        margin: 0 auto;
        transition: 1s all;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: #f51a3a;
        box-shadow: 0 0 15px #fff;
    }
    
    .btn img {
        width: 22px;
        height: 22px;
    }
    
    @media (max-width: 768px) {
        .logo {
            width: 90%;
            text-align: center;
        }
        .ico_menu {
            display: block;
        }
        #enlaces {
            display: none;
        }
    }
    
    @media (max-width: 500px) {
        .logo {
            width: 85%;
        }
    }
    
    @media (max-width: 340px) {
        .logo {
            width: 80%;
        }
    }
    
    @media (max-width: 260px) {
        .logo {
            width: 75%;
        }
    }
    /*main*/
    
    .contenedor_especial {
        padding: 0 15px;
    }
    
    main h2 {
        font-size: 25px;
        font-weight: bold;
        margin: 15px 0;
        text-shadow: 1px 1px 0 #e01a3a;
    }
    
    .q_somos {
        display: flex;
        flex-direction: column;
    }
    
    .q_somos .btn_reducido {
        align-self: flex-end;
    }
    
    .q_somos p {
        margin-bottom: 15px;
    }
    
    .btn_reducido {
        background-color: #e01a3a;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 5px;
        cursor: pointer;
        display: inline-block;
        transition: 1s all;
    }
    
    .btn_reducido:hover {
        background-color: #f51a3a;
        box-shadow: 0 0 15px #333;
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
    }
    
    .servicios h3 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background-color: #555;
        padding: 5px;
        color: #fff;
    }
    
    .contenedor_servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        margin-bottom: 15px;
    }
    
    .contenedor_servicios .btn_reducido {
        width: 100%;
        text-align: center;
    }
    
    .servicios .btn_reducido {
        align-self: flex-end;
    }
    
    .contenedor_servicios .btn_reducido:hover {
        background-color: #971024;
    }
    
    @media (max-width:556px) {
        .contenedor_servicios {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
        }
    }
    
    @media (max-width:320px) {
        .contenedor_servicios {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 10px;
            column-gap: unset;
        }
    }
    /*contactanos*/
    
    .contactanos {
        background: url(../img/fondo-contacto-inicio.jpg) no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        padding: 15px 0;
        margin-top: 15px;
        position: relative;
    }
    
    .capa_contacto {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    
    .contactanos .contenedor {
        position: relative;
        z-index: 2;
    }
    
    .contactanos h2 {
        text-align: center;
        color: #fff;
    }
    
    .contactanos form {
        margin-bottom: 15px;
        text-align: center;
    }
    
    .contactanos form label {
        display: inline-block;
        width: 150px;
        text-shadow: 2px 2px 20px #fff;
        color: #fff;
        text-align: left;
    }
    
    .contactanos form input[type="text"] {
        height: 30px;
        margin-bottom: 10px;
    }
    
    .contactanos form input[type="reset"],
    input[type="submit"] {
        height: 30px;
        width: 80px;
        background-color: #f51a3a;
        color: #fff;
        cursor: pointer;
    }
    
    .contactanos form input[type="reset"]:hover,
    input[type="submit"]:hover {
        height: 30px;
        width: 80px;
        background-color: #971024;
        color: #fff;
    }
    /*r_sociales*/
    
    .r_sociales {
        margin: 15px 0;
    }
    
    .r_sociales img {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
        margin-right: 15px;
    }
    
    .r_sociales img:hover {
        box-shadow: 0 0 20px #000;
    }
    
    .contenedor_rsociales {
        border-bottom: 5px solid #971024;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /*footer*/
    
    footer {
        background-color: #971024;
    }
    
    .info_footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        padding: 15px;
    }
    
    .copy {
        padding: 10px 15px;
        background-color: #b3132b;
    }
    
    .copy p {
        text-align: center;
        font-style: italic;
        color: #fff;
    }
    
    .info_negocio h1 {
        color: #f51a3a;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 3px 3px 1px #000;
        margin-bottom: 5px;
    }
    
    .info_footer {
        color: #aaa;
    }
    
    .canales_comunicacion h1 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 5px #fff;
        margin-bottom: 5px;
        color: #000;
    }
    
    .canales_comunicacion a {
        text-decoration: none;
        color: #aaa;
    }
    
    .canales_comunicacion a:hover {
        color: #777;
        font-weight: bold;
    }
    
    .boletin h1 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 5px #fff;
        margin-bottom: 5px;
        color: #000;
    }
    
    .boletin p {
        margin-bottom: 10px;
    }
    
    .boletin input {
        height: 30px;
    }
    
    .boletin input[type="submit"]:hover {
        background-color: #000;
    }
    
    .info_negocio p {
        margin-bottom: 10px;
    }
    
    .info_negocio .redes_sociales img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    
    .info_negocio .redes_sociales img:hover {
        box-shadow: 0 0 20px #ddd;
    }
    
    @media (max-width:556px) {
        .info_footer {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
        }
        .boletin {
            grid-column: 1/3;
        }
    }
    
    @media(max-width:320px) {
        .info_footer {
            grid-template-columns: repeat(1, 1fr);
            column-gap: unset;
        }
        .boletin {
            grid-column: unset;
        }
    }